.langcardsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.langcardsWrapper .cardWrapper {
  position: relative;
  width: 60vw;
  height: 100lvh;
}
.langcardsWrapper .textWrapper {
  position: relative;
  width: 40vw;
  height: 100lvh;
}

.langcardsWrapper .cardWrapper .card {
  aspect-ratio: 5/3;
}

.langcardsWrapper .cardWrapper .card,
.langcardsWrapper .textWrapper .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

/* Cards Animation */

.langcardsWrapper .cardWrapper .card[data-active="current"] {
  transform: translate(-30%, -30%);
  z-index: 3;
}
.langcardsWrapper .cardWrapper .card[data-active="second"] {
  z-index: 2;
}
.langcardsWrapper .cardWrapper .card[data-active="third"] {
  transform: translate(-70%, -70%);
  z-index: 1;
}

.langcardsWrapper .cardWrapper .card[data-active="prefalse"] {
  opacity: 0;
  transform: translate(-10%, -10%);
}
.langcardsWrapper .cardWrapper .card[data-active="false"] {
  opacity: 0;
  transform: translate(-90%, -90%);
}

/* Text Cards Animation */

.langcardsWrapper .textWrapper .card[data-active="next"] {
  opacity: 0;
  transform: translate(-50%, -70%);
}

.langcardsWrapper .textWrapper .card[data-active="prev"] {
  opacity: 0;
  transform: translate(-50%, -30%);
}

.langcardsWrapper .textWrapper .card[data-active="current"] {
  opacity: 1;
}

.card .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  aspect-ratio: 5/3;
  width: 30vw;
  height: 10%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    var(--color-tertiary) 100%
  );
  z-index: 1;
}

section.languages {
  background-image: url("/images/programming-background.jpg");
  background-position: center;
  background-size: cover;
}

.langcardsWrapper .next,
.langcardsWrapper .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 5rem;
  height: auto;
  padding: 1rem;
  text-align: center;
  border: none;
  color: var(--color-text);
  outline: 0px solid var(--color-primary);
  transition: all 0.3s ease;
}

.langcardsWrapper .next:hover,
.langcardsWrapper .prev:hover {
  background-color: var(--color-primary);
}

.langcardsWrapper .next:active,
.langcardsWrapper .prev:active {
  transform: translateY(-50%) scale(0.9);
}

.langcardsWrapper .next:focus-visible,
.langcardsWrapper .prev:focus-visible {
  outline: 3px solid var(--color-primary);
}

.langcardsWrapper .next {
  right: 1rem;
}

.langcardsWrapper .prev {
  left: 1rem;
}
